.bannerPromo{
height: auto;
width: 100%;
margin-top: 2rem;
margin-top: 1rem;
.row{
align-items: center;
text-align: center
};
p, i{text-decoration: none;
color:  grey;}
i{
    font-size: 4rem;
}
.pModal{
    display: inline;
    cursor: pointer;
}
}
.botonera{
    display: flex;
    justify-content: center;
}