@import "_variables.scss";
/* NAVEGACION */
.active{
    font-size: bold;
    color: white;
    border-top: 1px solid $variante;
    border-bottom: 1px solid $variante;
  }
  

.bloqueLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  img{
    width: 10rem;
  }
  
}
.fondo{
  background: $principal;
}


.navbar-dark .navbar-brand {
  font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
    color: $secundario;
    text-shadow: 0px 1px $principal;
    
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 1.2rem;
  text-decoration: none;  
 }
.desaparece{
  opacity: 0;
}
.navbar-dark .navbar-toggler {
  color: transparent;
  border-color: transparent;
  padding-right: 2rem;
  margin-top: .3rem;
}

nav {
  opacity: 1;
  position: fixed;
  display: flex;
  .sombra {
    text-shadow: 0px 1px $principal;
  }
  a {
  font-size: 1.2rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration: unset;
  color: $secundario;
  margin-right: 2rem;
  margin-top: .5rem;
  
  &:hover {
    color: $secundario;
    opacity: .7;
  }
  }
}

.navbar-nav {
  flex-direction: row;
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  text-justify: center;
  align-self: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color:$variante;
  border-top: 1px inset $principal;
h4{
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
}
p{
  font-size: .8rem;
}
}
